body {
    background: #efe5d8;
    font-family: "Georgia", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #072b45;
    width: 380px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.2);
    text-align: center;
}

.logo {
    font-size: 18px;
    color: #cbb59e;
    margin-bottom: 6px;
    letter-spacing: 2px;
}

.title {
    font-size: 20px;
    color: #f4d6a0;
    font-weight: bold;
    margin-bottom: 15px;
}

.chat-box {
    background: white;
    height: 350px;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
}

.user-bubble {
    background: #e8dbcf;
    color: #333;
    padding: 8px 12px;
    border-radius: 12px;
    margin: 6px 0 6px auto;
    width: fit-content;
    max-width: 70%;
}

.ai-bubble {
    background: #d3e8d8;
    color: #2c3a2f;
    padding: 10px 12px;
    border-radius: 12px;
    margin: 6px 0;
    width: fit-content;
    max-width: 70%;
}

.input-row {
    margin-top: 12px;
    display: flex;
    gap: 8px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.send-btn {
    background: #caa165;
    border: none;
    color: white;
    font-size: 18px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
